.lt_sort {
  height: 30px;
  line-height: 30px;
  background-color: #EEEEEE;
  padding: 0 10px;
}
.lt_sort a {
  float: left;
  width: 25%;
  font-size: 12px;
  text-align: center;
  color: #666;
}
.lt_sort a span {
  margin-right: 5px;
}